@use '../../scss/abstracts/mixins.scss' as mix;

.ContactListRows {
    @include mix.responsive(md) {
        display: flex;
        flex-wrap: wrap;
    }
}

.ContactListAlert {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    &-icon {
        width: 2rem;
        height: 2rem;
    }
}
