$base: 18px;
$scale-xl: 8;
$scale: 4;
$shadow-sm: 0px 0px 8px rgba(69, 69, 69, 0.3);
$shadow-md: 0px 0px 12px rgba(69, 69, 69, 0.5);
$radius-sm: 0.5rem;
$radius-md: 1rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
