$colors: (
    color-gray: #746f6f,
    color-light-gray: #b9b1b1,
    color-dark-gray: #333333,
    color-purple: #5e58a1,
    color-white: #f2f6f9,
    color-green: #148014,
    color-red: #9c2f2f,
    color-orange: #ce7613,
    color-blue: #104c9b,
    color-lemon: #869122,
    color-cyan: #507991
);
