@use '../../scss/abstracts/variables.scss' as var;
@use 'sass:map';
.ContactStatus {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: end;
    &.is-available {
        color: map.get($map: var.$colors, $key: color-green);
    }
    &.is-unavailable {
        color: map.get($map: var.$colors, $key: color-red);
    }
    &-icon {
        width: 2.2rem;
        height: 2.2rem;
    }
}
