@use '../../scss/abstracts/mixins.scss' as mix;
@use '../../scss/abstracts/variables.scss' as var;
@use 'sass:map';

.InputCheckbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
    background-color: map.get($map: var.$colors, $key: color-white);
    color: map.get($map: var.$colors, $key: color-gray);
    @include mix.radius($sm: true);
    @include mix.shadow($sm: true);
    &:focus-within {
        @include mix.shadow($md: true);
    }
    @include mix.hover {
        cursor: pointer;
    }
    &-field {
        opacity: 0;
        position: absolute;
        &:not(:checked) + .InputCheckbox-icon {
            display: none;
        }
        &:checked {
            top: -110vh;
        }
        @include mix.hover {
            cursor: pointer;
        }
    }
    &-icon {
        display: block;
        -webkit-user-select: none;
        user-select: none;
    }
}
